.d-flex.justify-content-center
  = form_with(url:"/walkers/#{current_user.id}/saveLocation", method:"post") do |f|
    .form-inputs
      = f.hidden_field :lat, value: "", id:"lat", label: "Latitude:", placeholder: 'Finding Latitude...'
      = f.hidden_field :lon, value: "",  id:"lon", label: "Longitude:", placeholder: 'Finding Longitude...'
    .form-actions
      %br/
      .d-flex.justify-content-center
        // why won't you work?!?!?
        = f.button :submit, class:"btn btn-primary w-100"
