.d-flex.justify-content-center
    %h2.fw-bold Check-In For:
.d-flex.justify-content-center
    %h1.text-center.fw-bold.text-uppercase= @checkpoint.name
%br
.d-flex.justify-content-center.mb-3
    %h5 Oops!
.d-flex.justify-content-center.mx-3.my-3
    %h6.text-center According to your location, we don't think you're at the check-in point.
.d-flex.justify-content-center.mx-3.my-3
    %h6.text-center If we're wrong, please ask a marshal on site to check you in, thank you. 
%br

%table.table.table-hover.table-sm
    %thead
        %tbody
            %tr
                %td= " -- For Testing Purposes -- "
            %tr
                %td= "Latitude: #{@lat}"
            %tr
                %td= "Longitude: #{@lon} "
            %tr
                %td= "OS Reference: #{@osReference}"
            %tr
                %td= "Checkpoint Reference: #{@checkpoint.os_grid}"

//    =link_to "Return", 'javascript:history.back()', class: 'btn btn-primary primary-button'
// don't know if it looks better with or without button