%br
.d-flex.justify-content-center
    %h2{class: 'fw-bold'} Check-In For:
%br
.d-flex.justify-content-center
    %h1.text-center{class: 'fw-bold'}= @checkpoint.name
%br
.d-flex.justify-content-center
    %p Oops!
.d-flex.justify-content-center.mx-3
    %p{class: 'text-center'} According to your location, we don't think you're at the check-in point.
.d-flex.justify-content-center.mx-3
    %p{class: 'text-center'} If we're wrong, please ask a marshal on site to check you in, thank you. 
%br

.d-flex.justify-content-center
    %p You are in Latitude:#{@lat},
.d-flex.justify-content-center
    %p Longitude:#{@lon} 
.d-flex.justify-content-center
    %p OS reference:#{@osReference}
.d-flex.justify-content-center
    %p The CheckPoint Is In: #{@checkpoint.os_grid}
//.d-grid.gap-2
//    =link_to "Return", 'javascript:history.back()', class: 'btn btn-primary primary-button'
// don't know if it looks better with or without button