%br
.row 
    .col
        -if @linker
            .d-flex.justify-content-center
                %h1{class: "fw-bold"} LET'S GO! 
            .d-flex.justify-content-center
                %h2{class: "fw-bold"} The event has begun! 
            %br
            .d-flex.justify-content-center
                %h4{class: "fw-bold"} Your next checkpoint:
            .d-flex.justify-content-center
                %h1{class: "fw-bold"}= @checkpoint.name
            %br
            .d-flex.justify-content-center
                %h4{class: "fw-bold"} You are expected to reach
            .d-flex.justify-content-center
                %h4{class: "fw-bold"} the next checkpoint within:
            .d-flex.justify-content-center
                %h1{:id => "countdown", class: "fw-bold"} Countdown Loading...
            .d-flex.justify-content-center  
                %h1{:id => "countdown2", class: "fw-bold"} Countdown Loading...   
            .d-flex.justify-content-center  
                %h1{:id => "countdown3", class: "fw-bold"} Countdown Loading...
            .d-flex.justify-content-center  
                %h1{:id => "countdown4", class: "fw-bold"} Countdown Loading...
            .d-flex.justify-content-center  
                %h1{:id => "countdown5", class: "fw-bold"} Countdown Loading...
            .d-flex.justify-content-center  
                %h1{:id => "countdown6", class: "fw-bold"} Countdown Loading...
                /current time c
                /current time c
                /time reached last checkpoint l
                /c - l = time since last checkpoint s
                /adviced time a - s = time left to reach next checkpoint n
                /if n < 0 set status to falling behind and timer starts to increase 
                :javascript
                    //var checkpointTimeDate = new Date("#{@start_date}T#{@start_time}").getTime();
                    var checkpointTimeDate = new Date("#{@time}").getTime();
                    document.getElementById("countdown2").innerHTML = "#{@time}";
                    var x = setInterval(function() {
                        var now = new Date().getTime();
                        var b = new Date("2022-04-28 07:15:41 UTC").getTime();
                        var c = new Date("2022-04-28 21:11:41 UTC").getTime();
                        //dont know why but dont think its taking the 3600000 away properly
                        var timeFromLast = now - (checkpointTimeDate - 3600000);
                        document.getElementById("countdown3").innerHTML = checkpointTimeDate - 3600000;
                        document.getElementById("countdown4").innerHTML = checkpointTimeDate;
                        document.getElementById("countdown5").innerHTML = c;
                        document.getElementById("countdown6").innerHTML = new Date();
                        var timeLeftToReach = (parseInt("#{@advisedTime}") * 60000) - timeFromLast;
                        //should be smarter think time from last is in seconds?? so convert advised time
                        //var days = Math.floor(timeFromLast / (1000 * 60 * 60 * 24));
                        //var hours = Math.floor((timeFromLast % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((timeLeftToReach % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((timeLeftToReach % (1000 * 60)) / 1000);
                        if (timeLeftToReach < 0) {
                            minutes = - minutes
                            seconds = - seconds
                        }
                        //document.getElementById("countdown").innerHTML = timeFromLast;
                        //document.getElementById("countdown").innerHTML = days + "D : " + hours + "H : " + minutes + "M : " + seconds + "S ";
                        document.getElementById("countdown").innerHTML = minutes + "M : " + seconds + "S ";
                        
                    }, 1000);
        -else
            .d-flex.justify-content-center
                %h1 Congratulations
            .d-flex.justify-content-center
                %h2 You Finished The Event
        %br/
        %br/
.d-grid.gap-2
    .d-flex.justify-content-center
        .p#out
    = render"getLatLong"
    -# =link_to "Check In", check_in_walkers_path, class: 'btn btn-primary primary-button'
    -# =link_to "Check In Failed", check_in_fail_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Check Point Information", checkpoint_info_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Leaderboard", leaderboard_pages_path, class: 'btn btn-primary primary-button'
    =link_to "Request Help", help_walkers_path, class: 'btn btn-primary primary-button'



:javascript
    geoFindMe()
    function geoFindMe() {
    var output = document.getElementById("out");
    var latitude;
    var longitude;

    function success(position) {
        latitude  = position.coords.latitude.toFixed(6);
        longitude = position.coords.longitude.toFixed(6);

        lat = document.getElementById("lat");
        lon = document.getElementById("lon");
        lat.value = latitude;
        lon.value = longitude;

        output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';
        // window.initMap = initMap();

    };

    function error() {
        output.innerHTML = "Can't get your Position";
    };
    output.innerHTML = "<p>Tracking Your Current Location…</p>";
    navigator.geolocation.getCurrentPosition(success, error);
    }