.row 
    .col
        -if @linker
            .d-flex.justify-content-center
                %h1{class: "fw-bold"} LET'S GO! 
            .d-flex.justify-content-center
                %h2{class: "fw-bold"} The event has begun! 
            %br
            .d-flex.justify-content-center
                %h4{class: "fw-bold"} You are currently
            -if @walker.rank % 10 == 0 || @walker.rank % 10 == 4 || @walker.rank % 10 == 5 || @walker.rank % 10 == 6 || @walker.rank % 10 == 7 || @walker.rank % 10 == 8 || @walker.rank % 10 == 9
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}th!"
            -elsif @walker.rank % 10 == 1
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}st!"
            -elsif @walker.rank % 10 == 2
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}nd!"
            -elsif @walker.rank % 10 == 3
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}rd!"

            %br
            .d-flex.justify-content-center
                %h4.fw-bold Your next checkpoint:
            .d-flex.justify-content-center
                %h1.fw-bold.text-center.text-uppercase= @checkpoint.name
            %br
            .d-flex.justify-content-center
                %h4{:id => "countdownMsg", class: "fw-bold"}
            .d-flex.justify-content-center
                %h4{:id => "countdownMsg2", class: "fw-bold"}
            .d-flex.justify-content-center
                %h1{:id => "countdown", class: "fw-bold"} Countdown Loading...
                /current time c
                /time reached last checkpoint l
                /c - l = time since last checkpoint s
                /adviced time a - s = time left to reach next checkpoint n
                /if n < 0 set status to falling behind and timer starts to increase 
                :javascript
                    var checkpointTimeDate = new Date("#{@time}").getTime();
                    var x = setInterval(function() {
                        var now = new Date().getTime();
                        //var now = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        //var timeFromLast = now - (checkpointTimeDate - 3600000);
                        var timeFromLast = now - checkpointTimeDate;
                        var timeLeftToReach = (parseInt("#{@advisedTime}") * 60000) - timeFromLast;
                        var days = Math.floor(timeLeftToReach / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((timeLeftToReach % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((timeLeftToReach % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((timeLeftToReach % (1000 * 60)) / 1000);
                        document.getElementById("countdownMsg").innerHTML = "You are expected to reach the";
                        document.getElementById("countdownMsg2").innerHTML = "next checkpoint within:";
                        if (timeLeftToReach < 0) {
                            document.getElementById("countdownMsg").innerHTML = "You are running late by:"
                            document.getElementById("countdownMsg2").innerHTML = ""
                            days = days
                            hours = hours
                            minutes = - minutes - 1
                            seconds = - seconds
                        }
                        if (days > 0){
                            document.getElementById("countdown").innerHTML = days + "D : " + hours + "H : " + minutes + "M : " + seconds + "S ";
                        } else if ((days <= 0) && (hours > 0)){
                            document.getElementById("countdown").innerHTML = hours + "H : " + minutes + "M : " + seconds + "S ";
                        } else if ((days <= 0) && (hours <= 0) && (minutes > 0)){
                            document.getElementById("countdown").innerHTML = minutes + "M : " + seconds + "S ";
                        } else if ((days <= 0) && (hours <= 0) && (minutes <= 0) && (seconds > 0)){
                            document.getElementById("countdown").innerHTML = seconds + "S ";
                        } else {
                            document.getElementById("countdown").innerHTML = "Failed to load countdown.";
                        }
                        
                    }, 1000);
        -else
            .d-flex.justify-content-center
                %h1 Congratulations
            .d-flex.justify-content-center
                %h2 You Finished The Event
            %br
            .d-flex.justify-content-center
                %h4{class: "fw-bold"} You are currently
            -if @walker.rank % 10 == 0 || @walker.rank % 10 == 4 || @walker.rank % 10 == 5 || @walker.rank % 10 == 6 || @walker.rank % 10 == 7 || @walker.rank % 10 == 8 || @walker.rank % 10 == 9
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}th"
            -elsif @walker.rank % 10 == 1
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}st"
            -elsif @walker.rank % 10 == 2
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}nd"
            -elsif @walker.rank % 10 == 3
                .d-flex.justify-content-center
                    %h1{class: "fw-bold"}= "#{@walker.rank}rd"




.d-grid.gap-2
    .d-flex.justify-content-center
    = render"getLatLong"
    =link_to "Check Me In", check_in_walkers_path, class: 'btn btn-primary primary-button'
    -# =link_to "Check In Failed", check_in_fail_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Check Point Information", checkpoint_info_walkers_path, class: 'btn btn-primary primary-button'
    =link_to "Leaderboard", leaderboard_pages_path, class: 'btn btn-primary primary-button'
    =link_to "View My Times", single_user_leaderboard_pages_path(:leaderboard_user_id => session[:current_user_id]), class: 'btn btn-primary primary-button'
    =link_to "Request Help", help_walkers_path, class: 'btn btn-primary primary-button'
    %br
%br
    %table.table.table-hover.table-sm
        %thead
            %tbody
                %tr
                    %td.p#out
:javascript
    geoFindMe()
    function geoFindMe() {
    var output = document.getElementById("out");
    var latitude;
    var longitude;

    function success(position) {
        latitude  = position.coords.latitude.toFixed(6);
        longitude = position.coords.longitude.toFixed(6);

        lat = document.getElementById("lat");
        lon = document.getElementById("lon");
        lat.value = latitude;
        lon.value = longitude;
        output.innerHTML = '<p>Your Location Is Up To Date</p>';
        // output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';
        // window.initMap = initMap();

    };

    function error() {
        output.innerHTML = "Unable to find position.";
    };
    output.innerHTML = "<p>Requesting Access To Location...</p>";
    navigator.geolocation.getCurrentPosition(success, error);
    }