.row 
    .col
        .d-flex.justify-content-center
            %h1 All Participants
        /.d-flex.justify-content-center
        /    =text_field :search, :walkers, :maxlength => "40", :placeholder => "Search Walkers"
        %br/
        .d-flex.justify-content-center
            =link_to "View Google Sheet", "https://docs.google.com/spreadsheets/d/1dvrSBnz4zl5fOQxazPOKw9FvP9IANQ_fji6kFl76GvI/edit#gid=1417439608", target: :_blank, class: 'btn btn-primary primary-button'

%br/
.d-flex.justify-content-center
    -if @falling_behind.count == 1
        %p= "There is a walker falling behind" 
    -else
        %p= "There are #{@falling_behind.count} walkers falling behind" 
.d-flex.justify-content-center
    %table
        %tbody
            %tr
                %td ID Number
                %td Person
                %td Checkpoint
                %td Pace
            -if @falling_behind
                -@falling_behind.each do |walker|
                    %tr 
                        %td= walker.first.participant_id
                        %td=link_to "#{walker.last.name}", walker.last
                        %td= Checkpoint.where(id: walker.first.checkpoints_id).first.name
                        %td falling behind
            -if @on_pace
                -@on_pace.each do |walker|
                    %tr
                        %td= walker.first.participant_id
                        %td=link_to "#{walker.last.name}", walker.last
                        %td= Checkpoint.where(id: walker.first.checkpoints_id).first.name
                        %td on pace