.row 
    .col
        .d-flex.justify-content-center
            %h1.fw-bold All Participants
        /.d-flex.justify-content-center
        /    =text_field :search, :walkers, :maxlength => "40", :placeholder => "Search Walkers"
        %br/
        .d-flex.justify-content-center
            =link_to "View Google Sheet", "https://docs.google.com/spreadsheets/d/1dvrSBnz4zl5fOQxazPOKw9FvP9IANQ_fji6kFl76GvI/edit#gid=1417439608", target: :_blank, class: 'btn btn-primary primary-button w-100'

%br/
.d-flex.justify-content-center
    -if @needs_help.count == 1
        %p.fw-bold= "There is a walker very far behind." 
    -else
        %p.fw-bold= "There are #{@needs_help.count} walkers very far behind."

.d-flex.justify-content-center
    %table.black-line
        %tbody
            %tr
                %td.fw-bold ID Number
                %td.fw-bold Walker
                %td.fw-bold Last Checkpoint
                %td.fw-bold Pace
            -# -if @needs_help
            -#     -@needs_help.each do |walker|
            -#         %tr 
            -#             %td= walker.first.participant_id
            -#             %td=link_to "#{walker.last.name}", walker.last
            -#             %td= Checkpoint.where(id: walker.first.checkpoints_id).first.name
            -#             %td.need-help Very Far Behind!!
            -# -if @falling_behind
            -#     -@falling_behind.each do |walker|
            -#         %tr 
            -#             %td= walker.first.participant_id
            -#             %td=link_to "#{walker.last.name}", walker.last
            -#             %td= Checkpoint.where(id: walker.first.checkpoints_id).first.name
            -#             %td.falling-behind Falling Behind!
            -# -if @on_pace
            -#     -@on_pace.each do |walker|
            -#         %tr
            -#             %td= walker.first.participant_id
            -#             %td=link_to "#{walker.last.name}", walker.last
            -#             %td= Checkpoint.where(id: walker.first.checkpoints_id).first.name
            -#             %td.on-pace On Pace
            
            -walkers =Participant.where(event_id: session[:current_event_id], pace: 'Very Far Behind!!')
            -walkers.each do |walker|
                -user = User.where(id: walker.user_id).first
                %tr
                    %td= walker.participant_id
                    %td=link_to "#{user.name}", user
                    %td= Checkpoint.where(id: walker.checkpoints_id).first.name
                    %td.on-pace Very Far Behind!!

        
            -walkers =Participant.where(event_id: session[:current_event_id], pace: 'Falling Behind!')
            -walkers.each do |walker|
                -user = User.where(id: walker.user_id).first
                %tr
                    %td= walker.participant_id
                    %td=link_to "#{user.name}", user
                    %td= Checkpoint.where(id: walker.checkpoints_id).first.name
                    %td.on-pace Falling Behind!


            
            -walkers =Participant.where(event_id: session[:current_event_id], pace: 'On Pace.')
            -walkers.each do |walker|
                -user = User.where(id: walker.user_id).first
                -puts "#{walker.participant_id} #############################S" 
                %tr
                    %td= walker.participant_id
                    %td=link_to "#{user.name}", user
                    %td= Checkpoint.where(id: walker.checkpoints_id).first.name
                    %td.on-pace On Pace