%h1 Checkpoint Info

= simple_form_for(@checkpoint) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: "Checkpoint Name:"
    = f.input :os_grid, label: "OS Grid Reference:"
    - @routes = Route.where(events_id: session[:current_event_id])
    .row 
      - @routes.each do |route|
        .col-6
          .card.h-100
            .card-body
              %h5.card-title.fw-bold= route.name
              = check_box_tag 'selected_routes[]', route.id
              = "Assign Checkpoint To This Route"
        %br/

  .form-actions
    .d-grid.gap-2
      = f.button :submit, "Save", class: 'btn btn-primary primary-button'
      = link_to 'Delete', @checkpoint, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-primary primary-button'

