.d-flex.justify-content-center
  %h1.fw-bold Change Checkpoint 
%br/

.row 
  .col
    .d-flex.justify-content-center 
    = simple_form_for :search, url: search_checkpoint_marshals_path, method: :post do |f|
      = f.input :name
      = f.submit 'Search'
      = link_to 'Reset', change_checkpoint_marshals_path
%br

- @checkpoints.each do |checkpoint|
  .col-6
    .card.mb-2
      .card-body
        - if checkpoint.id == @marshal.checkpoints_id
          %h5.card-title.fw-bold= checkpoint.name
          %h5.card-title.fw-bold Current Checkpoint
        - else
          %h5.card-title.fw= checkpoint.name
        =link_to '' , marshal_path(checkpoint), class:'stretched-link'
%br/



