.d-flex.justify-content-center
  %h1 Change Checkpoint 
%br/

- if @checkpoints.count == 0
  %h3 There are no checkpoints ready. Please contact Admin to Generate one.
- else 
  .row 
    .col
      .d-flex.justify-content-center 
      = simple_form_for :search, url: search_checkpoint_marshals_path, method: :post do |f|
        = f.input :name
        = f.submit 'Search'
        = link_to 'Reset', change_checkpoint_marshals_path
%br/
      .d-flex.justify-content-center 
      - @checkpoints.each do |checkpoint|
        .d-flex.justify-content-center
          .col-6
            .card.h-100
              .card-body
                %h5.card-title.fw-bold= checkpoint.name  
            =link_to '' , marshals_path(checkpoint), class:'stretched-link'
        %br/
    %br/
%br/     