.d-flex.justify-content-center
    -user = User.where(id: session[:view_user_id]).first
    %h1.text-center.fw-bold.pb-3= "#{user.name}'s Events "

-# .row 
-#   - @events.each do |event|
-#     .col-6.pb-3
-#       .card.h-100
-#         .card-body
-#           %h5.card-title.fw-bold= event.name
-#           =link_to "", event, class: 'stretched-link'


.row
    -walkers = Participant.where(user_id: session[:view_user_id])
    -walkers.each do |walker|
        -route = Route.where(id: walker.routes_id).first
        -event = Event.where(id: walker.event_id).first
        -if event.made_public
            .col-12.pb-3
                .card.h-100
                    .card-body
                        %h5.card-title.fw-bold.text-center= event.name
                        %h6.text-center= "Route: " + route.name
                        = simple_form_for :route_picked, url: route_picked_users_path, method: :post do |f|
                            = f.hidden_field :route_id, value: route.id
                            = f.submit "View", class: 'stretched-link btn btn-primary primary-button w-100'
                

