.d-flex.justify-content-center
  %h1.fw-bold Edit Event Info

= simple_form_for(@event) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: "Event Name:"
    = f.input :phone_number, label: "Head Marshal Phone Number:"

  .form-actions
    .d-grid.gap-2
      = f.button :submit, "Save", class: 'btn btn-primary primary-button w-100'
      = link_to 'Delete', @event, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger danger-button w-100 mb-2'
  %br
  .d-grid.gap-2
    =link_to "Manage Routes", routes_path, class: 'btn btn-primary primary-button w-100'
  
    =link_to "Manage Checkpoints", checkpoints_path, class: 'btn btn-primary primary-button w-100'

    =link_to "Manage Branding", edit_branding_path(Branding.where(events_id: session[:current_event_id]).first), class: 'btn btn-primary primary-button w-100'
  

  

