%h1 Event Info

= simple_form_for(@event) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: "Event Name:"
    = f.input :date, label: "Date:"
    = f.input :time, label: "Start Time:"
    = f.input :length, label: "Course Length (km):"

  .d-flex.justify-content-center  
    =link_to "Manage Checkpoints", checkpoints_path, class: 'btn btn-primary primary-button'
  %br/

  .form-actions
    .d-flex.justify-content-center
      = f.button :submit, "Save", class: 'btn btn-primary primary-button'
      = link_to 'Delete', @event, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-primary primary-button'

