%h1 Create Event

= simple_form_for(@event) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: "Event Name:"
    = f.input :date, label: "Date:"
    = f.input :time, label: "Start Time:"
    = f.input :length, label: "Course Length (km):"

  .form-actions
    = f.button :submit, "Create", class: 'btn btn-primary primary-button'

