%h1 Create Event

= simple_form_for(@event) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: "Event Name:"

  .form-actions
    = f.button :submit, "Create", class: 'btn btn-primary primary-button'

