.d-flex.justify-content-center.p-3
    = image_tag("bwlogosquaretight.png", class: "img-fluid")
.d-flex.justify-content-center
    %h5{class: "fw-bold"} Sets off in:
.d-flex.justify-content-center
    %h1{:id => "countdown", class: "fw-bold"} Countdown Loading...
    :javascript
        var countDownDate = new Date("#{@start_date}T#{@start_time}").getTime();
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("countdown").innerHTML = days + "D : " + hours + "H : " + minutes + "M : " + seconds + "S ";
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "THE WALK HAS BEGUN!";
            }
        }, 1000);
.d-flex.justify-content-center
    %h5{class: "fw-bold"} (#{@start_date} at #{@start_time})

.d-grid.pt-3.mx-3.gap-3
    - if current_user.tag.name =='Walker'
        =link_to "I Am A Walker", walkers_path, class: 'btn btn-primary primary-button'
    - if current_user.tag.name =='Marshal'
        =link_to "I Am A Marshal", marshals_path, class: 'btn btn-primary primary-button'
    - if current_user.tag.name =='Admin'
        =link_to "I Am An Admin", admins_path, class: 'btn btn-primary primary-button'
    =link_to "Sign In This Route", walker_sign_up_participant_path(current_user), class: 'btn btn-primary primary-button'