/- @current_participant_id = Participant.where(id: @leaderboard_participant_id).first.id
%h1 User Leaderboard

%table
  %tbody
    %tr="#{User.where(id: @leaderboard_user_id).first.name}'s Times"
    
    %tr
      %td Checkpoint
      %td Time Arrived

    - @i = 1
    - puts "Route checkpoints: #{@route_checkpoints}"
    - @route_checkpoints.each do |x|
      - @current_checkpoint_id = RoutesAndCheckpointsLinker.where(position_in_route: @i).first.checkpoint_id
      - @current_checkpoint = Checkpoint.where(id: @current_checkpoint_id).first
      /- puts "current checkPOINT: #{@current_checkpoint.name}"
      
      %tr
        %td= @current_checkpoint.name
        - @current_checkpoint = CheckpointTime.where(participant_id: @leaderboard_participant_id, checkpoint_id: @current_checkpoint_id).first 
        - if @current_checkpoint != nil 
          - @current_checkpoint_time = @current_checkpoint.times
          - if @current_checkpoint_time.strftime('%H').to_i >= 12 
            %td= "#{@current_checkpoint_time.strftime('%H:%M')}pm"
          - else 
            %td= "#{@current_checkpoint_time.strftime('%H:%M')}am"
        - else
          %td ---
      - @i += 1