-# frozen_string_literal: true
= simple_form_for(@user) do |f|
  .form-inputs
    = f.input :avatar, label:"Profile Picture"
    = f.input :name
    = f.input :description, label: "Tell The World Anything!", hint: "This will appear on your profile page."
    = f.input :mobile
    /Tom will fix later
    -if current_user.tag.name == "Walker"
      -@walker = Participant.where(user_id: current_user.id).first
      = f.input :(Participant.where(user_id: current_user.id).first)       
    -elsif current_user.tag.name == "Marshal"
      -@marshal = Marshall.where(users_id: current_user.id).first
      = f.input :(@marshal.id)
                
  
  .form-actions
  %br
    .d-flex.justify-content-center
      = f.button :submit, class: 'btn btn-primary w-100'
