-# frozen_string_literal: true

= simple_form_for(@user) do |f|
  .form-inputs
    = f.input :avatar, label:"Profile Picture:"
    = f.input :name
    = f.input :description, label: "Tell The World Anything!:", hint: "This will appear on your profile page."
    = f.input :mobile
    = f.input :donate_link, label:"Link To Your Donation Page:"
    -if current_user.tag.name == "Walker"
      = simple_fields_for(Participant.where(routes_id: session[:current_route_id],user_id: current_user.id).first) do |o|
        .form-inputs
          = o.input :participant_id
      -role_id = Participant.where(user_id: current_user.id).first
    -elsif current_user.tag.name == "Marshal"
      = simple_fields_for(Marshall.where(checkpoints_id: session[:current_checkpoint_id],users_id: current_user.id).first) do |o|
        .form-inputs
          = o.input :marshal_id
    /Tom has no idea how to fix - help

    /Add checkbox here (checked if user is opted in for leaderboard, otherwise not checked)
    /Update their preference when the 'Update User' button is pressed    
    
  .form-actions
  %br
    .d-flex.justify-content-center
      = f.button :submit, class: 'btn btn-primary w-100'

.d-flex.justify-content-center
  %button.btn.btn-danger.w-100(type="button" data-bs-toggle="modal" data-bs-target="#deleteAccount")
    %span Delete Account

  //Pop up for delete account
  #deleteAccount.modal.fade
    .modal-dialog
      .modal-content 
        .modal-header
          %h5.modal-title Warning
        .modal-body
          Are you sure you want to delete your account?
        .modal-footer
          %button.btn.btn-secondary{ type: 'button', data: { bs_dismiss: 'modal' } }
            Cancel
          =link_to 'Yes', current_user, :method => :delete, class: 'btn btn-danger'
