-# frozen_string_literal: true

= simple_form_for(@user) do |f|
  .form-inputs
    = f.input :avatar, label:"Profile Picture"
    = f.input :name
    = f.input :description, label: "Tell The World Anything!", hint: "This will appear on your profile page."
    = f.input :mobile
    -if current_user.tag.name == "Walker"
      = simple_fields_for(Participant.where(user_id: current_user.id).first) do |o|
        .form-inputs
          = o.input :participant_id
      -role_id = Participant.where(user_id: current_user.id).first
    -elsif current_user.tag.name == "Marshal"
      = simple_fields_for(Marshall.where(user_id: current_user.id).first) do |o|
        .form-inputs
          = o.input :marshal_id
    /Tom has no idea how to fix - help
    
    
    /Add checkbox here (checked if user is opted in for leaderboard, otherwise not checked)
    /Update their preference when the 'Update User' button is pressed    
    
                
  
  .form-actions
  %br
    .d-flex.justify-content-center
      = f.button :submit, class: 'btn btn-primary w-100'
