
=link_to walkers_path do 
    %span.bi.bi-arrow-return-left
    
%h1 Welcome to Your Profile 
.row   
    .col-5 
        %table 
            %tr 
                -if current_user.avatar.attached? 
                    %td= image_tag current_user.avatar, :size => "120x120"
                -else 
                    %td= "No photo uplaoded."
    .col-7
        %p 
            = current_user.name
        %p 
            = current_user.description 
%br/

.row 
    %table.table
        %tr 
            %td User ID:
            %td= current_user.id
        %tr 
            %td User Email:
            %td= current_user.email
        %tr 
            %td User Mobile:
            %td= current_user.mobile
        %tr 
            %td Membership ID:
            %td= current_user.membership_id

        

.d-grid.gap-3
    =link_to account_profile_index_path, class: 'btn btn-primary primary-button' do
        %span.bi.bi-piggy-bank
        %span Donate Here
        %span.bi.bi-piggy-bank
    .d-flex.justify-content-center
        %p Your Public Progress Shows Here

    =link_to "/",class: 'btn btn-primary primary-button' do
        %span.bi.bi-share 
        %span Share
    =link_to edit_profile_path(current_user), class: 'btn btn-primary primary-button' do 
        %span.bi.bi-pencil-square
        %span Edit
    %button.btn.btn-danger(type="button" data-bs-toggle="modal" data-bs-target="#deleteAccount")
        %span.bi.bi-trash
        %span Delete Account

    //Delete pop up
    #deleteAccount.modal.fade
        .modal-dialog
            .modal-content 
                .modal-header
                    %h5.modal-title Warning
                .modal-body
                    Are u sure you wanna delete the account?
                .modal-footer
                    %button.btn.btn-secondary{ type: 'button', data: { bs_dismiss: 'modal' } }
                        Cancel
                    =link_to 'Yes', current_user, :method => :delete, class: 'btn btn-danger'