.d-flex.justify-content-center
    %h1.fw-bold Your Profile

.row   
    .col-5 
        %table 
            %tr 
                -if current_user.avatar.attached? 
                    %td= image_tag current_user.avatar, :size => "120x120", class: "rounded-circle border"
                -else 
                    %td= image_tag 'noPic.gif', :size => "120x120", class: "rounded-circle border"
    .col-7
        %br
        %h5.pt-2.fw-bold.text-center.w-100= current_user.name

.row
    %p.px-4.pt-2= current_user.description

.d-grid.gap-2
    %br

.row 
    %table.table
        %tr 
            %td User ID:
            %td= current_user.id
        %tr 
            %td User Email:
            %td= current_user.email
        %tr 
            %td User Mobile:
            %td= current_user.mobile

        - if current_user.tag.name == "Marshal"
            %tr 
                %td Marshal ID:
                %td= @marshal_id

        - if current_user.tag.name == "Walker"
            %tr 
                %td Participant ID:
                %td= @participant_id
            %tr 
                %td Current Donate Link: 
                - if current_user.donate_link.length > 40
                    %td="#{current_user.donate_link[0, 40]}..."
                - else
                    %td=current_user.donate_link[0, 20]
        %tr 
            %td Identity:
            %td= current_user.tag.name

        

.d-grid.gap-2
    .d-flex.justify-content-center
        %p Your Public Progress Shows Here
    =link_to "/",class: 'btn btn-primary primary-button' do
        %span Share My Profile
    =link_to edit_profile_path(current_user), class: 'btn btn-primary primary-button' do
        %span Edit Account