%h1 Welcome to Your Profile 
.row   
    .col-5 
        %table 
            %tr 
                -if current_user.avatar.attached? 
                    %td= image_tag current_user.avatar, :size => "120x120"
                -else 
                    %td= "Error:  You have not upload any photo"
    .col-7
        %p 
            = current_user.name
        %p 
            = current_user.description 
.row 
    %table.table
        %tr 
            %td User ID:
            %td= current_user.id
        %tr 
            %td User Email:
            %td= current_user.email
        %tr 
            %td= link_to 'Edit', edit_profile_path(current_user)