!!!
%html
  %head
    %title The Big Walk #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    -# <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    = stylesheet_pack_tag "styles", media: :all
    = javascript_pack_tag "application"
    = favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon"
    = csrf_meta_tags
    

  %body.bg-light
    = render 'layouts/svg_logo'

    -if current_page?('/pages/1/home')
      / no header
    -else
      %header.py-3
        .container-fluid
          .row
            .col-3.d-flex.justify-content-center.my-2
              =link_to 'javascript:history.back()' do
                .i.bi.bi-arrow-left.display-6
            .col-6.mx-auto
              = link_to(image_tag("bwlogolongnotagtight.png", class: "img-fluid"), '/pages/1/home')
            .col-3.d-flex.justify-content-center
              -if user_signed_in?
                %a.nav-link.dropdown{ href: '#', data: { bs_toggle: :dropdown }, aria: { expanded: false } }
                  .i.bi.bi-person-circle.display-6
                %nav.dropdown-menu.dropdown-menu-lg-end
                  = link_to 'Profile' , profile_index_path, class: 'dropdown-item', title: 'Go to the profile page'
                  = link_to 'Sign out', destroy_user_session_path, class: 'dropdown-item', method: :delete, title: "Log out of the system"
    
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.alert-info
          .container
            = msg
            %a{ href: '#', title: 'Hide this message', data: { bs_dismiss: :alert } } Dismiss

    %main
      .container= yield

    %footer.mt-auto.my-5.pt-3.text-muted.text-center.text-small
      %p &copy; Team 28, #{Date.today.year}

